<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Impromptu Topic Generator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1C1AC251C13FAD500E25794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1C1AC391C13FAD500E25794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1C1AC441C13FAD500E25794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
